extends ../layout

block content
    .m-5 
        h1 Crear Bicicleta
        form(action='/bicicletas/crear', method='post' )
            .form-group
                label.col-sm-2.col-form-label(for='id') ID :
                input#ID.col-sm-7(type='text', name='id')
            .form-group
                label.col-sm-2.col-form-label(for='color') Color :
                input#ID.col-sm-7(type='text', name='color')
            .form-group
                label.col-sm-2.col-form-label(for='modelo') Modelo :
                input#ID.col-sm-7(type='text', name='modelo')
            .form-group
                label.col-sm-2.col-form-label(for='lat') Ubicacion :
                input#ID.col-sm-7(type='text', name='lat')
            .form-group
                label.col-sm-2.col-form-label(for='log') Ubicacion log :
                input#ID.col-sm-7(type='text', name='log')
            .form-group
                a.col-1
                input.btn.btn-primary.col-3(type='submit', value='Guardar')

    // Bootstrap core JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
    // Third party plugin JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
    // Core theme JS   
