extends ../layout

block content
        .row.ml-5.mt-2.mb-2   
            h3.col-sm-3.pt-3 Bicilcetas
            a( href= '/bicicletas/crear'  class="btn btn-primary   " ) Crear Bicicleta
        table.table.ml-5.w-75 
            thead
                tr
                    th(scope='col') #
                    th(scope='col') color
                    th(scope='col') modelo
                    th(scope='col') ubicacion
                    th(scope='col') 
                    th(scope='col') 
            tbody
                each bici in bicis
                    tr
                        td(scope='row')
                         = bici.code
                        td=bici.color
                        td=bici.modelo
                        td=bici.ubicacion
                        td
                            a( href=`/bicicletas/${bici.code}/editar` class='btn btn-primary') editar 
                        td
                            form.inline( method='post' action='/bicicletas/'+ bici.code + '/borrar'  )
                                input(type='hidden' name= 'code'  value=bici.code  )
                                button.link-button(type='submit' name='submit_param' value='submit_value' class='btn btn-danger') = eliminar
