extends ../layout

block content
    .m-5 
        h1 Crear Usuario
        if error
            h3 #{error}
        form(action='/usuarios/crear', method='post' class="m-4")
            .form-group
                label.col-sm-2.col-form-label(for='nombre') nombre :
                input#ID.col-sm-7(type='text', name='nombre')
            .form-group
                label.col-sm-2.col-form-label(for='email') email :
                input#ID.col-sm-7(type='text', name='email')
            .form-group
                label.col-sm-2.col-form-label(for='password') password :
                input#ID.col-sm-7(type='text', name='password')
            .form-group
                label.col-sm-2.col-form-label(for='cpassword') Confir password :
                input#ID.col-sm-7(type='text', name='cpassword')
            .form-group
                a.col-1
                input.btn.btn-primary.col-3(type='submit', value='Guardar')

    // Bootstrap core JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
    // Third party plugin JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
    // Core theme JS   
