extends ../layout

block content
        .row.ml-5.mt-2.mb-2   
            h3.col-sm-3.pt-3 #{title}
            
            a( href= '/usuarios/crear'  class="btn btn-primary" ) Crear Usuario
        table.table.ml-5.w-75 
            thead
                tr
                    th(scope='col') Nombre
                    th(scope='col') email
                    th(scope='col') estado
                    th(scope='col') 

            tbody
                each usuario in usuarios
                    tr
                        td(scope='row')
                         = usuario.nombre
                        td=usuario.email
                        td=usuario.verificado
                        td
                            a( href=`/usuarios/editar` class='btn btn-primary') editar 
                        td
                            form.inline( method='post' action='/usuarios/borrar'  )
                                input(type='hidden' name= 'email'  value=usuario.email  )
                                button.link-button(type='submit'  class='btn btn-danger') = eliminar


