doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

  title login
  link(rel='canonical', href='https://getbootstrap.com/docs/4.0/examples/sign-in/')

  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css', integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk', crossorigin='anonymous')
  
  // Custom styles for this template
  link(rel='stylesheet', href='/stylesheets/signin.css')
form.form-signin(action='/login', method='post' class="m-4")
    img.rounded.mx-auto.d-block(src='https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg', alt='', width='72', height='72')
    h1.h3.mb-3.mt-3.font-weight-normal Please sign in
    .form-group
      label.sr-only(for='email') email :
      input#ID.form-control(type='text',, placeholder = 'Email' name='email')
    .form-group
      label.sr-only(for='password') password :
      input#ID.form-control(type='text', placeholder = 'Password', name='password')
    .form-group
      a.col-1
    .checkbox.mb-3
      label
        input(type='checkbox', value='remember-me')
        |  Remember me
    input.btn.btn-lg.btn-primary.btn-block(type='submit', value='Sign in')
    a.nav-link(href='/forgotPassword') Forgot password
    p.mt-3.mb-3.text-muted &copy; 2017-2020






    // Bootstrap core JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
    // Third party plugin JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
    // Core theme JS   
